body {
    background-color: #fff;
}

.than-website {
    width: 100%;
    height: 512px;
    display: flex;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.form-dang-nhap {
    width: 540px;
    height: 445px;
    background-color: #f6e4e4;
    margin: auto;
    padding: 32px;
    border-radius: 6px;
    box-shadow: 0px -5px 8px rgba(0, 0, 0, 0.1), 5px 0px 8px rgba(0, 0, 0, 0.1), 0px 5px 8px rgba(0, 0, 0, 0.1), -5px 0px 8px rgba(0, 0, 0, 0.1);
}

.ten-form {
    color: #3D464D;
    margin-bottom: 28px;
    font-size: 28px;
}

.email {
    width: 100%;
    height: 66px;
    margin-bottom: 24px;
    position: relative;
}

.mat-khau {
    width: 100%;
    height: 89.2px;
    margin-bottom: 24px;
    position: relative;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}

.fa-eye, .fa-eye-slash {
    position: absolute;
    top: 39%;
    right: 17px;
    color: lightgrey;
    cursor: pointer;
}

.ten-input {
    color: #3D464D;
    margin-bottom: 4px;
    font-size: 16px;
}

input[id="email"],
input[id="mat-khau"]
{
    padding: 6px 12px;
    width: 100%;
    height: 38px;
    outline-style: none;
    font-size: 15px;
}

input[id="email"]:hover,
input[id="mat-khau"]:hover
{
    border: 3px solid rgba(26, 102, 255, 0.5);
    border-radius: 5px;
}

.loi-dang-nhap {
    font-size: 16px;
    color: rgb(246, 29, 29);
    width: 100%;
    height: 28px;
    margin-bottom: 24px;
    display: none;
}

.nut-dang-nhap {
    background-color: #ffd333;
    color: #3D464D;
    outline-style: none;
    border: none;
    text-align: center;
    font-size: 16px;
    width: 118.35px;
    height: 38px;
    font-weight: 600;
    margin-bottom: 8px;
    cursor: pointer;
    border-radius: 5px;
}

.nut-dang-nhap:hover {
    color: #fff;
    background-color: #3D464D;
}

.ket-thuc-website {
    margin-top: 0px;
}

.canh-bao-invalid {
    position: absolute;
    left: 10%;
    top: calc(93% + 10px);
    z-index: 1;
    will-change: opacity, transform;
    animation: moDan ease-in 3s 1s forwards;
}

@keyframes moDan {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.canh-bao-invalid::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 10px solid;
    border-color: transparent transparent #fff transparent;
    top: -19px;
    left: 5%;
}

.canh-bao {
    display: flex;
    width: 150px;
    height: 50px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: -5px 0px 8px rgba(0, 0, 0, 0.1), 0px 5px 8px rgba(0, 0, 0, 0.1), 5px 0px 8px rgba(0, 0, 0, 0.1);
}

.doan-van-canh-bao {
    margin-left: 10px;  
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    color: rgb(246, 29, 29)
}

.fa-circle-exclamation {
    font-size: 20px;
    margin-top: auto;
    margin-right: 0;
    margin-bottom: auto;
    margin-left: 10px;
    color: orange;
}