body {
    background-color: #fff;
}

.than-website {
    width: 100%;
    height: 365px;
    display: flex;
    background-image: url(./../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.form-quen-mat-khau {
    width: 540px;
    background-color: #f6e4e4;
    margin: auto;
    border-radius: 6px;
    box-shadow: 0px -5px 8px rgba(0, 0, 0, 0.1), 5px 0px 8px rgba(0, 0, 0, 0.1), 0px 5px 8px rgba(0, 0, 0, 0.1), -5px 0px 8px rgba(0, 0, 0, 0.1);
}

.ket-thuc-website {
    margin-top: 0;
}

.ten-form {
    width: 100%;
    height: 72px;
    padding: 24px 32px;
    font-size: 20px;
    color: #3D464D;
    border-bottom: 3px solid rgba(0, 0, 0, 0.08);
}

.email {
    width: 100%;
    padding: 32px;
}

.ten-input {
    color: #3D464D;
    margin-bottom: 4px;
    font-size: 16px;
}

input[id="email"]
{
    padding: 6px 12px;
    width: 100%;
    height: 38px;
    outline-style: none;
    font-size: 15px;
    border-radius: 6px;
    border: 3px solid #d8dee2;
}

input[id="email"]:hover
{
    border: 3px solid rgba(26, 102, 255, 0.5);
    border-radius: 6px;
}

.loi-email {
    font-size: 16px;
    color: rgb(246, 29, 29);
    width: 100%;
    height: 28px;
    margin-top: 24px;
    /* display: none; */
}

.nut-dang-ki {
    background-color: #ffd333;
    color: #3D464D;
    outline-style: none;
    border: none;
    text-align: center;
    font-size: 16px;
    width: 93.04px;
    height: 38px;
    font-weight: 600;
    margin-top: 24px;
    cursor: pointer;
    border-radius: 5px;
}

.nut-dang-ki:hover {
    color: #fff;
    background-color: #3D464D;
}

.quay-lai-trang-chu {
	background-color: #ffd333;
    color: #3D464D;
    outline-style: none;
    border: none;
    text-align: center;
    font-size: 16px;
    width: 118.35px;
    height: 38px;
    font-weight: 600;
    margin-top: 24px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    margin-left: 15px;
}

.quay-lai-trang-chu:hover {
    color: #fff;
    background-color: #3D464D;
}