.boc-ben-ngoai-phan-trang {
	display: flex;
	flex-direction: row-reverse;
}

.phan-trang {
	display: flex;
}

.thanh-phan-phan-trang + .thanh-phan-phan-trang {
	margin-left: 10px;
}

.thanh-phan-phan-trang {
	width: 36px;
	height: 36px;
	display: flex;
	cursor: pointer;
}

.trang-hien-tai {
	border-radius: 50%;
	background-color: orange;
	color: #fff;
	display: flex;
}

.nut-thao-tac-voi-trang {
	color: #c4c4cf;
}

.nut-thao-tac-voi-trang:hover {
	color: #3d464d;
}

.khong-phai-trang-hien-tai {
	border-radius: 50%;
	display: flex;
	background-color: #f5f5fa;
}

.khong-phai-trang-hien-tai:hover {
	background-color: rgba(255, 211, 51, 0.3);
}