.tieu-de-chuc-nang {
	font-size: 30px;
	font-weight: 600;
	display: flex;
	height: 60px;
	width: 100%;
	border-bottom: 3px solid #d8dee2;
	user-select: none;
}

.chon-tieu-chi {
	font-weight: 600;
	display: flex;
	padding-left: 60%;
	margin-top: 50px;
	user-select: none;
}

.truong-gia-tri + .truong-gia-tri {
	margin-left: 15px;
}

.truong-gia-tri {
	position: relative; 
}

.ten-truong {
	display: flex;
	width: 190px;
	height: 30px;
	background-color: #fff;
	border: 2px solid #3d464d;
	border-radius: 6px;
	justify-content: space-between;
	padding: 5px 5px 5px 15px;
}

.chon-icon {
	cursor: pointer;
}

.bang-gia-tri {
	border: 2px solid #3d464d;
	border-radius: 6px;
	width: 190px;
	top: 33px;
	left: 0;
	position: absolute;
	z-index: 2;
	display: none;
	background-color: #fff;
	height: 60px;
	overflow-y: scroll;
}

.bang-gia-tri::-webkit-scrollbar {
	background-color: #fff;
	width: 5px;
	border-radius: 6px;
}

.bang-gia-tri::-webkit-scrollbar-thumb {
	background-color: lightgray;
	border-radius: 10px;
}

.bang-gia-tri::-webkit-scrollbar-thumb:hover {
	background-color: #c1c1c1;
}

.gia-tri {
	padding: 5px 5px 5px 15px;
	width: 100%;
	height: 30px;
	cursor: pointer;
	border-radius: 6px;
}

.gia-tri:hover {
	background-color: #f0f2f4;
}

.bang-ket-qua {
	border-collapse: collapse;
	border: 2px solid #ebebeb;
	font-size: 16px;
	width: 1000px;
	margin: 80px auto 60px auto;
	border-radius: 6px;
	display: none;
}

thead {
	height: 47.3px;
	background-color: #f7f7f7;
	width: 100%;
	border-bottom: 2px solid #ebebeb;
}

.tieu-de-stt {
	width: 50px;
}

.tieu-de-id {
	width: 50px;
}

.tieu-de-hinh-anh {
	width: 130px;
}

.tieu-de-ten {
	width: 370px;
}

.tieu-de-email {
	width: 200px;
}

.tieu-de-tieu-chi {
	width: 200px;
}

.dong-du-lieu {
	height: 116.8px;
	border-bottom: 2px solid #ebebeb;
}

.dong-du-lieu:hover {
	background-color: #f0f0f0;
}

.chi-tiet-du-lieu {
	width: 100%;
	height: 100%;
	display: flex;
}

.chi-tiet-du-lieu span {
	margin: auto;
	text-align: center;
}